service: queue-message-array-challenge
provider:
  name: aws
  runtime: nodejs12.x
  iamRoleStatements:
    - Effect: Allow
      Action:
        - sqs:*
      Resource:
        - Fn::GetAtt: [ challenge, Arn ]
functions:
  challenge:
    handler: handler.handler
    events:
      - sqs:
        arn:
          Fn::GetAtt:
            - challenge
            - Arn

resources:
  Resources:
    challenge:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: challenge